html {
	margin: 0;
	padding: 0;
	visibility: visible;
  opacity:1;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: 'Rubik', sans-serif;
}

.coming-soon {
	width: 100%;
	height: 100vh;
	background-image: url('bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	z-index: 9999;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logo {
	margin: 0;
	padding: 0;
	width: 17rem;
	margin: 0 auto;
}

.container p {
	padding: 0;
	margin: 0;
	line-height: 0.9;
}

.title-when {
	font-family: 'Dancing Script', cursive;
	color: #FFFE0C;
	font-size: 48px;
}

.title-company {
	color: #fff;
	font-size: 107px;
}

.title-what {
	color: #298fe7;
	font-size: 49px;
}

.container::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.85);
	z-index: -1;
}
