html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: 'Lato', sans-serif;
}

.coming-soon {
	width: 100%;
	height: 100vh;
	background-image: url('bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	z-index: 9999;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

#element {
	flex-basis: 60%;
	color: #3182CE;
	font-size: 36px;
	text-align: center;
	width: 100%;
	height: 20rem;
}

.container h1 {
	color: #F7FAFC;
	font-size: 32px;
	line-height: 1;
	letter-spacing: 0.4rem;
	margin: 0 auto;
	display: inline;
	padding: 0;
}

.container img {
	/*width: 16rem;*/
	margin: 0;
	padding: 0;
	width: 14rem;
	margin: 0 auto;
	display: block;
}

.container img {
-webkit-transition: all 1s ease-in-out;
-moz-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
-ms-transition: all 1s ease-in-out;
}

.container img:hover {
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-o-transform: rotate(360deg);
-ms-transform: rotate(360deg);
}

.container::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.8);
	z-index: -1;
}

@media(min-width: 678px) {
	#element {
		font-size: 72px;
	}

	.container h1 {
		font-size: 48px;
		line-height: 1.5;
	}

	.container img {
		width: 16rem;
	}
}

@media(min-width: 870px) {
	.container {
		flex-direction: row;
	}

	.container h1 {
		font-size: 56px;
	}

	.container img {
		width: 18rem;
	}
}

@media(min-width: 997px) {
	.container h1 {
		font-size: 61px;
	}

	.container img {
		width: 20rem;
	}
}

@media(min-width: 1200px) {
	.container h1 {
		font-size: 68px;
	}

	.container img {
		width: 24rem;
	}
}